@model CarApp.Core.Entities.Car

<h2>Delete Car</h2>

<h3>Are you sure you want to delete this car?</h3>
<div>
    <p>Make: @Model.Make</p>
    <p>Model: @Model.Model</p>
    <p>Year: @Model.Year</p>
    <p>Color: @Model.Color</p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button>
    <a href="@Url.Action("Index")">Cancel</a>
</form>
