@model IEnumerable<TARgv23CarShop.Models.Cars.CarIndexViewModel>

@{
    ViewData["Title"] = "Car Index";
    int RowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Cars" type="submit" class="button primary">Create</a>
</div>

<h1>Car Index</h1>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Year</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@RowNumber</td>
                    <td>@car.CarName</td>
                    <td>@car.CarPrice</td>
                    <td>@car.CarYear</td>
                    <td>
                        <a asp-action="details" asp-controller="cars" asp-route-id="@car.CarId" class="button">Details</a>
                        <a asp-action="update" asp-controller="cars" asp-route-id="@car.CarId" class="button primary">Update</a>
                        <a asp-action="delete" asp-controller="cars" asp-route-id="@car.CarId" class="button danger">Delete</a>
                    </td>
                </tr>

                RowNumber++;
            }
        </tbody>
    </table>
</form>